In [1]:
import pandas as pd
from sqlalchemy import create_engine

### Store CSV into DataFrame

In [4]:
csv_file = "JODI_Data.csv"
jodi_df = pd.read_csv(csv_file)
jodi_df

,Unit - Thousand Barrels per day (kb/d),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 52,Unnamed: 53,Unnamed: 54,Unnamed: 55,Unnamed: 56,Unnamed: 57,Unnamed: 58,Unnamed: 59,Unnamed: 60,Unnamed: 61
0,Product - Crude oil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,BALANCE - Production,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Time,2014-02,2014-03,2014-04,2014-05,2014-06,2014-07,2014-08,2014-09,2014-10,...,2018-05,2018-06,2018-07,2018-08,2018-09,2018-10,2018-11,2018-12,2019-01,2019-02
4,Country,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,Albania,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,Algeria,1269,1217,1204,1204,1204,1217,1216,1197,1188,...,1040,1054,1064,1062,1072,1070,1068,1063,1033,0
7,Angola,1600,1446,1599,1605,1645,1714,1709,1703,1751,...,1486,1448,1455,1481,1489,1457,1417,1445,1470,1423
8,Argentina,534.2857,531.1935,511.3,501.0645,532.3333,522.0645,525.4194,528.8667,535.2258,...,481.7742,481.7,480.4194,487.9677,495.3667,495.0323,492.6667,493.0968,493.0968,0
9,Armenia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
10,Australia,359.0491,341.3442,321.4452,313.6195,348.7798,335.7484,352.0271,336.1638,347.4487,...,238.3305,269.1413,274.4489,263.5116,280.9688,296.069,300.1557,310.5673,302.6823,323.5666
11,Austria,17.356,18.6299,17.6075,18.1755,16.6684,17.0395,16.5851,16.4337,16.5851,...,13.4044,13.3817,12.95,12.7228,13.6165,13.1772,13.3817,12.2685,12.7228,13.5829
12,Azerbaijan,803.8564,807.8471,836.2493,827.3419,801.3647,827.5797,814.5039,796.9427,798.8129,...,737,728.156,718.4561,710.3729,715.627,707.0445,723.9797,712.0371,710.8484,715.9429
13,Bahrain,49.4843,50.639,48.642,49.4503,48.8877,49.9258,50.4013,50.116,48.4994,...,209.9261,206.6057,208.9752,206.1223,203.6577,205.8845,201.4467,195.4239,190.4313,204.5175
14,Bangladesh,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
15,Barbados,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,Belarus,33.3693,33.4625,33.1065,33.2252,33.8422,32.9878,33.2252,32.616,33.2252,...,33.9371,34.3327,33.2252,33.2252,34.3327,34.4118,33.597,32.9878,33.4625,0
17,Belgium,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,Belize,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
19,Bermuda,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
20,Bolivia,65.3214,62.1935,63.4333,65.2258,64.8333,65.1935,63.5806,63.4,62.5161,...,0,0,0,0,0,0,0,0,0,0
21,Brazil,2096.25,2124.2258,2152.7667,2195.0968,2251.5,2272.2581,2332.2258,2364.4333,2398,...,2615.871,2598.9,2583.3226,2525.4516,2489.4667,2618.0323,2571.4333,2694.6452,2634.9677,2493.75
22,Brunei Darussalam,131.1991,130.8475,119.4599,108.7963,123.2505,108.4692,90.6801,107.2889,109.1866,...,84.7638,102.5859,94.4152,94.6867,92.8239,102.9708,103.183,112.4507,113.6741,116.8405
23,Bulgaria,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,Canada,2686.0893,2831.2361,2787.276,2768.469,2739.4093,2761.7523,2782.1342,2735.1013,2887.5181,...,3660.4103,3562.9553,3746.5703,3867.009,3711.1027,3782.0071,3719.24,3815.591,3554.7948,3947.4614
25,Chile,6.7404,6.7645,6.291,6.7645,5.825,6.0881,6.3135,6.524,5.4116,...,2.7058,3.029,2.9313,2.9313,2.796,2.7058,2.796,2.7058,2.9313,3.2454
26,China,4212.66,4164.8439,4142.876,4192.7071,4270.488,4094.9497,4129.4245,4186.796,4235.2103,...,3771.689,3866.424,3743.8258,3777.3561,3702.944,3799.08,3790.296,3856.6955,0,0
27,Chinese Taipei,0.1725,0.2352,0.1505,0.1023,0.1205,0.1252,0.1473,0.1572,0.1704,...,0.0631,0.0843,0.0682,0.0688,0.073,0.0712,0.0876,0.1157,0.0735,0.08
28,Colombia,1003.9643,979.0323,938.3667,951.9355,1011.1333,971,1001.9355,995.7667,1004.3548,...,0,0,0,0,0,0,0,0,0,0
29,Costa Rica,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89,Peru,70.4482,73.5046,67.3785,69.3688,72.043,68.3385,68.5597,69.5876,71.5283,...,52.2009,41.5259,42.8787,44.1349,52.0277,0,0,0,0,0
90,Philippines,10.3643,19.0194,20.6867,10.3871,11.2667,9.5806,11.193,11.038,0.4903,...,31.6903,9.9833,10.8387,12.129,10.2333,10.4677,9.1667,10.5484,13.7097,0
91,Poland,19.1104,20.5713,19.791,20.8077,13.6827,19.6255,14.8965,20.524,20.0984,...,20.5713,14.1713,21.5171,21.2806,17.592,21.99,21.257,20.8077,20.5713,21.4664
92,Portugal,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
93,Qatar,734,710,701,701,729,734,734,690,680,...,601,622,619,612,570,609,599,615,0,0
94,Romania,82.0189,82.0708,80.8038,80.8603,80.8038,79.1656,79.4077,80.0533,79.8919,...,71.6606,71.0473,69.4818,70.9344,70.547,70.4502,70.547,70.4502,70.4502,70.4934
95,Russian Federation,10061.9571,10037.3806,10053.2,10084.8387,10126.76,10037.3806,10061.1097,10151.28,10084.8387,...,10345.8581,10472.0722,10654.3355,10654.3355,10739.76,10749.2516,10728.7709,10726.4136,10673.6049,10669.4979
96,Saudi Arabia,9850,9566,9660,9705,9780,10005,9597,9704,9690,...,10030,10489,10288,10412,10502,10642,11093,10643,10243,10136
97,Singapore,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
98,Slovakia,0.2618,0.2365,0.2443,0.2365,0.2443,0.2365,0.2365,0.2443,0.2365,...,0,0,0,0,0,0.2365,0.2443,0,0,0.2618
99,Slovenia,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
100,South Africa,5.1789,1.1006,2.559,5.2281,2.8433,2.2013,2.2013,5.4023,2.4765,...,0,0,0,0,0,0,0,0,0,0
101,Spain,7.1743,6.72,7.688,7.68,6.944,6.72,6.96,3.72,6,...,1.92,1.984,1.92,1.44,1.736,1.2,1.736,1.44,0.96,1.0629
102,Suriname,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
103,Sweden,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
104,Switzerland,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
105,Syria (Arab Rep.),0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
106,Tajikistan,0.2632,0.4755,0.4913,0.4755,0.2457,0.4755,0.4755,0.4913,0.2377,...,0.4755,0.4913,0.2377,0.4755,0.4913,0.2377,0.2457,0.2377,0,0
107,Thailand,233.2482,233.7176,227.7078,243.3393,239.705,227.8374,232.3784,234.4424,226.1817,...,228.9737,225.0304,213.2932,213.2932,217.6417,236.0895,234.304,223.264,207.9183,0
108,Trinidad/Tobago,81.6786,82.3226,80.1333,79.4516,81.5333,82.4194,82.1935,83.3333,86.0323,...,0,0,0,0,0,0,0,0,0,0
109,Tunisia,59.3229,58.7913,54.8553,49.3648,55.1117,54.5742,54.8223,50.4977,52.5897,...,0,0,0,0,0,0,0,0,0,0
110,Turkey,45.695,45.8084,46.6323,48.5297,48.9757,47.169,47.8494,50.616,47.6226,...,54.8794,54.834,56.9203,56.6935,56.4743,56.4668,57.646,55.7865,54.4258,60.5082
111,Ukraine,42.9039,42.3181,42.5003,42.0803,41.7633,40.6539,39.7029,41.0263,40.1784,...,32.3329,32.6737,33.0461,32.8084,32.428,33.0461,32.9193,32.8084,33.7594,0
112,United Arab Emirates,3043,3003,2830,3090,3108,3148,3171,3072,2908,...,0,0,0,0,0,0,0,0,0,0
113,United Kingdom,913.14,892.5677,803.88,856.231,739.368,690.1548,465.3058,744.408,790.1419,...,973.0452,935.928,996.9445,924.271,885.78,1024.9897,1018.836,1068.8865,1051.0839,1140.48
114,United States of America,8135.8214,8274.4194,8572.7333,8612.3226,8717.5,8782.3548,8885.6774,9040.8333,9220.5161,...,10463.9032,10672.3667,10935.9677,11325,11470.4667,11558.9677,11926.0667,11961.0323,11870.7419,12025
115,Uruguay,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
116,Venezuela,2677,2677,2691,2690,2676,2696,2664,2644,2675,...,1533,1531,1469,1448,1434,1433,1464,1511,1489,1432
117,Vietnam,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
118,Yemen,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

### Create new data with select columns

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Store JSON data into a DataFrame

                 address  id  latitude  longitude  us_state
0  043 Mockingbird Place   1   39.1682   -86.5186   Indiana
1       4 Prentice Point   2   41.0938   -85.0707   Indiana
2      46 Derek Junction   3   32.7673   -96.7776     Texas
3  11966 Old Shore Place   4   39.0350   -94.3567  Missouri
4     5 Evergreen Circle   5   40.7808   -73.9772  New York

### Clean DataFrame

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York

### Connect to local database

### Check for tables

['customer_location', 'customer_name']

### Use pandas to load csv converted DataFrame into database

### Use pandas to load json converted DataFrame into database

### Confirm data has been added by querying the customer_name table
* NOTE: can also check using pgAdmin

   id first_name last_name
0   1    Benetta   Cancott
1   2     Lilyan    Cherry
2   3    Ezekiel   Benasik
3   4    Kennedy     Atlay
4   5    Sanford    Salmen

### Confirm data has been added by querying the customer_location table

   id                address  us_state
0   1  043 Mockingbird Place   Indiana
1   2       4 Prentice Point   Indiana
2   3      46 Derek Junction     Texas
3   4  11966 Old Shore Place  Missouri
4   5     5 Evergreen Circle  New York